#about-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 0px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-image: url(https://i.imgur.com/mtQtAyn.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.adrianImage {
  width: 100%;
  border-radius: 50%;
}

.welcome {
  padding: 20px 100px 0px 100px;
  font-size: 60px;
  color: white;
}

.title {
  padding: 0px 50px 0px 50px;
  color: white;
}

.description {
  padding: 50px 100px;
  color: white;
}

@media (max-width: 1000px) {
  .description {
    font-size: 15px;
    padding: 10px 50px 0px 0px;
  }

  .welcome {
    padding: 0px 50px 0px 0px;
  }

  .title {
    padding: 0px 50px 0px 0px;
  }
}

@media (max-width: 600px) {
  #about-me {
    grid-template-columns: 1fr;
  }

  .adrianImage {
    width: 100%;
    height: auto;
    padding: 50px 0px 0px 0px;
  }

  .welcome {
    font-size: 40px;
    padding: 0px;
  }

  .title {
    font-size: 20px;
    padding: 0px;
  }

  .description {
    font-size: 15px;
    padding: 20px;
  }
}
