#contact {
  min-height: 100vh;
  background-color: rgb(31, 31, 31);
}

.text-contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 0px;
  text-align: center;
  align-items: center;
}

.bg-form {
  padding: 20px;
  border-radius: 0.25rem;
  text-align: center;
}

.contact-form {
  display: block;
  margin-top: 0em;
}

.form-group {
  margin-bottom: 30px;
  margin-top: 30px;
}

.form-group label {
  color: white;
  font-size: 20px;
}

.form-group input,
textarea {
  width: 80%;
  height: 40px;
  padding: 10px;
  font-size: 15px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.form-group textarea {
  min-height: 100px;
  resize: vertical;
  max-height: 300px;
}

.submit {
  transition: transform .2s; 
}

.submit:hover {
  cursor: pointer;
  background-color: rgb(76, 76, 76);
  color: white;
  transform: scale(1.10);
}

.required {
  color: red;
}

.rss {
  margin-left: 10%;
  width: 80%;
  border-radius: 10px;
  background-color: rgb(237, 237, 237);
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.rss img {
  width: 30px;
  vertical-align: middle;
  margin: 5px;
}

.rss a {
  display: inline-block;
  width: 100%;
  color: #000;
  transition: transform .2s; 
}

.rss a:hover {
  background-color: rgb(115, 115, 115);
  border-radius: 10px;
  color: white;
  transform: scale(1.1); 
}

@media (max-width: 600px) {
  .text-contact {
    grid-template-columns: 1fr;
  }

  .rss {
    margin-bottom: 50px;
  }
}
