.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px;
  color: white;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 10px;
}

.toggle-button {
  position: absolute;
  right: 10px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  vertical-align: middle;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .toggle-button {
    margin-right: 3%;
    margin-top: 5px;
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 5px 10px;
  }

  .navbar-links.active {
    display: flex;
  }
}