#skills {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0px 0px;
  text-align: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(41, 41, 41);
}

.languages,
.programs,
.technologies {
  height: 100%;
}

.programs {
  background-color: rgb(30, 30, 30);
}

#skills h3 {
  color: white;
  font-size: 30px;
  padding-top: 5%;
  padding-bottom: 5%;
}

.icon-text {
  width: 20px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  padding-bottom: 5%;
}

.icon-bg {
  width: 105px;
  height: 105px;
  border-radius: 10px;
  margin: 13px;
  background-color: black;
  text-align: center;
}

#skills img {
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
  margin: 0px 0px 0px -7px;
  width: 100px;
  transition: transform 0.2s;
}

.icon-name {
  color: rgb(234, 234, 234);
  margin-top: -18px;
  margin-bottom: 2px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

#skills img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* Skills range */
#html:hover,
#intellij-idea:hover,
#eclipse:hover,
#vs-code:hover,
#git:hover,
#github:hover,
#ofimatica:hover,
#windows:hover {
  background-color: lightgreen;
}

#css:hover,
#xml:hover,
#java:hover,
#sql:hover,
#figma:hover,
#photoshop:hover,
#premiere:hover,
#linux:hover,
#terminal:hover,
#hardware:hover {
  background-color: rgb(255, 255, 123);
}

#js:hover,
#kotlin:hover,
#python:hover,
#after-effects:hover {
  background-color: rgb(255, 115, 115);
}

@media (max-width: 600px) {
  #skills h3 {
    margin: 6%;
  }
}
