* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  width: 100%;
}

.ir-arriba {
  display: none;
  padding: 20px 20px 10px 20px;
  border-radius: 100px;
  background: #fff;
  font-size: 20px;
  color: #000;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: transform 0.2s;
  z-index: 1;
}

.ir-arriba:hover {
  transform: scale(1.2);
  color: #fff;
  background-color: #000;
}

.title-parts {
  padding-top: 4%;
  font-size: 50px;
  color: white;
  text-align: center;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

li {
  list-style: none;
}

.border {
  background-color: black;
  filter: blur(2.5px);
  width: 100%;
  height: 1vh;
}

@media (max-width: 600px) {
  .title-parts {
    padding-top: 10%;
  }
}
